li {
    list-style-type: none;
}

body {
    background-color: lightsteelblue;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

#opentime {
    color:darkblue;
}
#VO {
    width: 250px;
    height: 175px;
}

.logo {
    float: left;
}

.menu {
    margin-left: 50%;
    
}

.menu a {
    border-radius: 2px;
    color: darkblue;
    display: inline-block;
    margin: 5px;
    padding: 15px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}


.column {
    float: left;
    width: 10%;
    padding: 10px 0;
    height: 150px; /* Should be removed. Only for demonstration */
    text-align: center;
    background-color: lightskyblue;
    margin: 0;
    border: 2px solid;
}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #bigphoto {
    background-image: url("/img/VanBigPhoto.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    margin: 20px;
    
  }
  #para1 {
    color:black;
    font-size: 25px;
    font-weight: 450;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 100px;
    margin-top: 60px;
    line-height: normal;
  }